:ruby
  name = @profile.real_name.empty? ? @user.username : @profile.real_name
.container.profile
  .row
    .userInfo.span6
      .userName
        .avatar
          = avatar_image_tag(@user)
        %h1.span #{name}
      %p Total walked #{@user.total_km_walked} km
      - if @profile.bio.present?
        %p
          %strong Bio:
          = @profile.bio
      - if @profile.twitter.present?
        %p
          %strong Twitter:
          = link_to("@#{@profile.twitter}", "http://twitter.com/#{@profile.twitter}")
      - if @profile.website.present?
        %p
          %strong Website:
          = link_to(@profile.website, @profile.website)
    .walkList.span8
      = render :partial => 'walks/list', :locals => {:walks => @walks}
