%h2 My profile
= form_for resource.profile, :url => profile_path(resource.profile) do |f|
  .clearfix
    = f.label :real_name
    .input.profileRealName= resource.profile.real_name
  .clearfix
    = f.label :bio
    .input.profileBio= resource.profile.bio
  .clearfix
    = f.label :twitter
    .input.profileTwitter= resource.profile.twitter
  .clearfix
    = f.label :website
    .input.profileWebsite= resource.profile.website

%h2 My account
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .errors= devise_error_messages!
  = field_set_tag do
    .clearfix
      = f.label :username
      .input.profileUserName= resource.username
      = f.hidden_field :username
    .clearfix
      = f.label :email
      .input= f.email_field :email
    .clearfix
      = f.label "E-mail notifications"
      .input
        %ul.inputs-list
          %li
            %label{:for => "user_mail_comment_notification"}
              =f.check_box :mail_comment_notification
              %span Notify me when someone posts a comment on one of my walks
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
        %span.help-block Leave blank if you don't want to change it
    .clearfix
      = f.label :password_confirmation
      .input= f.password_field :password_confirmation
    .clearfix
      = f.label :current_password
      .input
        = f.password_field :current_password
        %span.help-block We need your current password to confirm your changes
    .actions
      = f.submit "Update", :class => "btn primary"
%h3 Cancel my account
%p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
%p= link_to "Back", :back
