%section.topbar
  .fill
    .container
      = link_to(image_tag("logo.png"), root_path, {:class => "brand"})
      - if user_signed_in?
        %ul.nav
          %li{:class => (controller.controller_name == "walks" and controller.action_name == "index") ? "active recentWalksLink" : "recentWalksLink" }= link_to(t("top.navigation.walks.recent"), root_path)
          %li{:class => (controller.controller_name == "walks" and controller.action_name == "new") ? "active newWalkLink" : "newWalkLink" }= link_to(t("top.navigation.walks.new"), new_walk_path)
      %ul.nav.secondary-nav
        - if user_signed_in?
          %li.dropdown{:data => {:dropdown => "dropdown"}}
            = link_to(current_user.email, "#", {:class => "dropdown-toggle accountDropdownToggle"})
            %ul.dropdown-menu
              %li.editAccountLink= link_to(t("top.navigation.account.edit"), edit_user_registration_path)
              %li.divider
              %li.signoutLink= link_to(t("top.navigation.account.sign_out"), destroy_user_session_path, :method => :delete)
        - else
          %li.registrationLink= link_to(t("top.navigation.account.sign_up"), new_user_registration_path)
          %li.signinLink= link_to(t("top.navigation.account.sign_in"), new_user_session_path)
