.row
  .span16
    %h1= t("walks.index.latest_walks")
    - if @walks
      %ul.walks.list
        - @walks.each do |walk|
          %li
            = link_to walk_path(walk) do
              %h3= walk.title
              .meta_date= t("general.time_ago", :time => time_ago_in_words(walk.created_at))
              .user_info= t("user.by", :name => walk.user.username)

