- content_for :title do t("general.titles.walk.new") end
- content_for :head do
  %script{:src => "http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"}
  :javascript
    $(function(){
      map = new Sanpo.WalkMap({isNewWalk: true});
      Sanpo.geolocateAndCenterMap(map.gmap);
    });
.container
  .page-header
    %h1= t("walks.new.new_photowalk")
  = render :partial => 'map_search_field'
= render :partial => 'map'
.container
  .row
    .span4
      .highlight
        %h2 ProTip™
        %p Click the precise location where you started your walk on the map above. Click again to add the next waypoint, right-click a waypoint to delete it.
    .span12
      = form_for @walk, :class => "form-stacked" do |f|
        = field_set_tag do
          .clearfix
            = f.label :title
            .input
              = f.text_field :title, :class => "xlarge"
          .clearfix
            = f.label :description
            .input
              = f.text_area :description, :rows => "5", :class => "xxlarge"
          .clearfix
            = f.label :notes
            .input
              = f.text_area :notes, :rows => "5", :class => "xxlarge"
          .clearfix
            = f.label :link
            .input
              = f.text_field :link, :class => "xlarge"
          #waypoints_container
          .actions
            = f.submit :id => "newWalkSubmit", :class => "btn large primary", :value => t("general.save"), :disabled => true, :disable_with => t("general.disable_with.saving")

