- content_for :body_class do "show_walk" end
- content_for :head do
  %script{:type => "text/javascript", :src => "//maps.googleapis.com/maps/api/js?sensor=false"}
  = javascript_include_tag('sanpomaps/sanpomap')
  :javascript
    var map = null;
    $(function(){
      map = new SanpoMap({
        centerLat: "35.638189499999996",
        centerLng: "139.722814",
        isNewWalk: true
      });
    });
.page-header
  %h1= t("walks.new.new_photowalk")
.row
  = render :partial => 'map'
  .span4
    %h2 Step 1
    %p Describe the photowalk you're sharing
  .span12
    = form_for @walk, :class => "form-stacked" do |f|
      = field_set_tag do
        .clearfix
          = f.label :title
          .input
            = f.text_field :title, :class => "xlarge"
        .clearfix
          = f.label :description
          .input
            = f.text_area :description, :rows => "5", :class => "xxlarge"
        .clearfix
          = f.label :notes
          .input
            = f.text_area :notes, :rows => "5", :class => "xxlarge"
        .clearfix
          = f.label :link
          .input
            = f.text_field :link, :class => "xlarge"
        #waypoints_container
        .actions
          = f.submit :class => "btn large primary", :value => t("general.save"), :disable_with => t("general.disable_with.saving")

