- content_for :title do t("general.titles.walk.new") end
- content_for :body_class do "show_walk" end
- content_for :head do
  %script{:type => "text/javascript", :src => "//maps.googleapis.com/maps/api/js?sensor=false"}
  = javascript_include_tag('sanpomaps/sanpomap')
  :javascript
    $(function(){
      map = new SanpoMap({isNewWalk: true});
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            var coords = position.coords || position.coordinate || position;
            console.log("Successfully geolocated! " + coords.latitude + "x" + coords.longitude);
            var latLng = new google.maps.LatLng(coords.latitude, coords.longitude);
            map.map.setCenter(latLng);
          },
          function (error) {
            switch(error.code) {
              case error.TIMEOUT:
                console.log('geolocation: Timeout');
                break;
              case error.POSITION_UNAVAILABLE:
                console.log('geolocation: Position unavailable');
                break;
              case error.PERMISSION_DENIED:
                console.log('geolocation: Permission denied');
                break;
              case error.UNKNOWN_ERROR:
                console.log('geolocation: Unknown error');
                break;
            }
          }
        );
      }
    });
.container
  .page-header
    %h1= t("walks.new.new_photowalk")
  = render :partial => 'map_search_field'
= render :partial => 'map'
.container
  .row
    .span4
      %h2 Step 1
      %p Describe the photowalk you're sharing
    .span12
      = form_for @walk, :class => "form-stacked" do |f|
        = field_set_tag do
          .clearfix
            = f.label :title
            .input
              = f.text_field :title, :class => "xlarge"
          .clearfix
            = f.label :description
            .input
              = f.text_area :description, :rows => "5", :class => "xxlarge"
          .clearfix
            = f.label :notes
            .input
              = f.text_area :notes, :rows => "5", :class => "xxlarge"
          .clearfix
            = f.label :link
            .input
              = f.text_field :link, :class => "xlarge"
          #waypoints_container
          .actions
            = f.submit :class => "btn large primary", :value => t("general.save"), :disable_with => t("general.disable_with.saving")

