- content_for :title do t("general.titles.walk.show", {:walk_title => @walk.title}) end
- content_for :description do "[by #{@walk.user.username}] #{@walk.description}" end
- content_for :body_class do "show_walk" end
- content_for :head do
  %script{:src => "http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"}
  - if @walk.photos.count >= 1
    %meta{:property => "og:tag name", :content => "#{root_url}#{@walk.photos.first.image.url(:medium).gsub(/^\//, '')}"}
  :erb
    <script>
      var map = null;
      var waypoints = new Array();
      <% @walk.waypoints.each do |waypoint| %>waypoints.push({lat: '<%= waypoint.latitude %>', lon: '<%= waypoint.longitude %>'});
      <% end %>
      $(function(){
        map = new SanpoMap({
          walkId: "<%= @walk.id %>",
          centerLat: "<%= @walk.center_coordinates[:latitude] %>",
          centerLng: "<%= @walk.center_coordinates[:longitude] %>",
          waypoints: waypoints
        });
      });
    </script>
- if defined? @new_walk
  :javascript
    $(function(){
      _gaq.push(['_trackEvent', 'Goal tracking', 'Walk created', "#{@walk.id}"]);
    });
- if defined? @new_walk and current_user.walks.count == 3
  :javascript
    $(function(){
      _gaq.push(['_trackEvent', 'Goal tracking', 'User created their third walk', "#{@walk.id}"]);
    });
.container
  .page-header
    %h1
      = @walk.title
      .walkLength= @walk.length_in_km
      - username = (@walk.user == current_user) ? "you" : @walk.user.username
      .walkCreator
        = t("walks.show.by", {:name => username})
        - if @walk.user == current_user
          = link_to "(Delete?)", walk_path(@walk), :method => :delete, :confirm => "Are you sure you want to delete this walk? This cannot be undone."
= render :partial => 'map'
.container
  .row
    .span-two-thirds
      .walk_description
        %h2= t("walks.show.description")
        - if @walk.user == current_user
          %p= best_in_place(@walk, :description, :type => :textarea, :display_as => :formatted_description)
        - else
          %p= h(@walk.description).gsub(/\n/, '<br/>').html_safe
      .walk_photos
        %h2
          Photos (#{@walk.photos.count})
          - if current_user and current_user == @walk.user and @walk.photos.count < 3
            %small= link_to t("photos.new.upload_new_photo"), "#", :class => "btn info small", :id => "walkPageUploadPhotoButton", :data => {"controls-modal" => "uploadPhoto", :backdrop => "static"}
            = render :partial => "photos/new"
        - if @walk.photos
          - @walk.photos.each do |photo|
            = render :partial => "photos/photo", :locals => {:photo => photo}
      .comments
        - unless @walk.comments.empty?
          - @walk.comments.each do |comment|
            = render comment
      = render :partial => 'comments/form'
    .span-one-third
      .walk_notes
        %h2= t("walks.show.notes")
        - if @walk.user == current_user
          %p= best_in_place(@walk, :notes, :type => :textarea, :display_as => :formatted_notes)
        - else
          %p= h(@walk.notes).gsub(/\n/, '<br/>').html_safe
      .social
        .twitter
          %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :data => {:via => "sanpoapp", :related => "sanpoapp"}} Tweet
        .fb-like{:data => {:send => "false", "show-faces" => "false", :width => "300"}}
      .walk_link
        - unless @walk.link.empty?
          %h2.btn.large= link_to(t("walks.show.link_label"), @walk.link, :id => "walkPageGalleryButton")
