- content_for :title do t("general.titles.walk.show", {:walk_title => @walk.title}) end
- content_for :description do "[by #{@walk.user.username}] #{@walk.description}" end
- content_for :body_class do "show_walk" end
- content_for :head do
  - if @walk.photos.count >= 1
    %meta{:property => "og:tag name", :content => "#{root_url}#{@walk.photos.first.image.url(:medium).gsub(/^\//, '')}"}
  :erb
    <script>
      var map = null;
      var waypoints = new Array();
      <% @walk.waypoints.each do |waypoint| %>waypoints.push({lat: '<%= waypoint.latitude %>', lon: '<%= waypoint.longitude %>'});
      <% end %>
      $(function(){
        map = new SanpoMap({
          walkId: "<%= @walk.id %>",
          centerLat: "<%= @walk.center_coordinates[:latitude] %>",
          centerLng: "<%= @walk.center_coordinates[:longitude] %>",
          waypoints: waypoints
        });
      });
    </script>
.container
  .page-header
    %h1
      = @walk.title
      - username = (@walk.user == current_user) ? "you" : @walk.user.username
      .walkCreator
        = t("walks.show.by", {:name => username})
        - if @walk.user == current_user
          = link_to "(Delete?)", walk_path(@walk), :method => :delete, :confirm => "Are you sure you want to delete this walk? This cannot be undone."
= render :partial => 'map'
.container
  .row
    .span-two-thirds
      .walk_description
        %h2= t("walks.show.description")
        %p= @walk.description
      .walk_photos
        %h2
          Photos (#{@walk.photos.count})
          - if current_user and current_user == @walk.user and @walk.photos.count < 3
            %small= link_to t("photos.new.upload_new_photo"), new_walk_photo_path(@walk), :class => "btn small", :id => "walkPageUploadPhotoButton"
        - if @walk.photos
          - @walk.photos.each do |photo|
            = render :partial => "photos/photo", :locals => {:photo => photo}
      -# .comments
      -#   .fb-comments{:data => {:href => "#{request.url}", "num-posts" => "5", :width => "620"}}
    .span-one-third
      .walk_notes
        %h2= t("walks.show.notes")
        %p= @walk.notes
      .social
        .twitter
          %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :data => {:via => "sanpoapp", :related => "sanpoapp"}} Tweet
        .fb-like{:data => {:send => "false", "show-faces" => "false", :width => "300"}}
      .walk_link
        - unless @walk.link.empty?
          %h2.btn.large= link_to(t("walks.show.link_label"), @walk.link, :id => "walkPageGalleryButton")
