%h1= @walk.title
%h2= t("walks.show.description")
%p= @walk.description
%h2= t("walks.show.notes")
%p= @walk.notes
%h2= t("walks.show.link")
- if @walk.link
  %p= link_to(t("walks.show.link_label"), @walk.link)
- else
  %p= t("walks.show.no_link")
