%h1= @walk.title
%h2= t("walks.show.description")
%p= @walk.description
%h2= t("walks.show.notes")
%p= @walk.notes
- if @walk.photos
  %h2 Photos
  - @walk.photos.each do |photo|
    = link_to(image_tag(photo.image.url(:medium)), photo.image.url(:large))
= link_to "Upload new photo", new_walk_photo_path(@walk)
%h2= t("walks.show.link")
- if @walk.link
  %p= link_to(t("walks.show.link_label"), @walk.link)
- else
  %p= t("walks.show.no_link")
