- content_for :title do t("general.titles.walk.show", {:walk_title => @walk.title}) end
- content_for :description do "[by #{@walk.user.username}] #{@walk.description}" end
- content_for :body_class do "show_walk" end
- content_for :head do
  :erb
    <script>
      var map = null;
      var waypoints = new Array();
      <% @walk.waypoints.each do |waypoint| %>waypoints.push({lat: '<%= waypoint.latitude %>', lon: '<%= waypoint.longitude %>'});
      <% end %>
      $(function(){
        map = new SanpoMap({
          walkId: "<%= @walk.id %>",
          centerLat: "<%= @walk.center_coordinates[:latitude] %>",
          centerLng: "<%= @walk.center_coordinates[:longitude] %>",
          waypoints: waypoints
        });
      });
    </script>
.container
  .page-header
    %h1
      = @walk.title
      .walkCreator= t("walks.show.by", {:name => @walk.user.username})
= render :partial => 'map'
.container
  .row
    .span-two-thirds
      .walk_description
        %h2= t("walks.show.description")
        %p= @walk.description
      .walk_photos
        %h2
          Photos (#{@walk.photos.count}/3)
          - if current_user and current_user == @walk.user and @walk.photos.count < 3
            %small= link_to t("photos.new.upload_new_photo"), new_walk_photo_path(@walk), :class => "btn small"
        - if @walk.photos
          - @walk.photos.each do |photo|
            = render :partial => "photos/photo", :locals => {:photo => photo}
    .span-one-third
      .walk_notes
        %h2= t("walks.show.notes")
        %p= @walk.notes
      .walk_link
        - unless @walk.link.empty?
          %h2.btn.large= link_to(t("walks.show.link_label"), @walk.link)
