%h1= @walk.title
%h2= t("walks.show.description")
%p= @walk.description
%h2= t("walks.show.notes")
%p= @walk.notes
%h2
  Photos
  - if current_user and current_user == @walk.user
    %small= link_to t("photos.new.upload_new_photo"), new_walk_photo_path(@walk), :class => "btn small"
- if @walk.photos
  - @walk.photos.each do |photo|
    = render :partial => "photos/photo", :locals => {:photo => photo}
%h2= t("walks.show.link")
- if @walk.link
  %p= link_to(t("walks.show.link_label"), @walk.link)
- else
  %p= t("walks.show.no_link")
