!!! 5
%html
  / サンポｷﾀ━━━━━━(ﾟ∀ﾟ)━━━━━━ !!!!!
  %head
    %title SANPO: Social Photowalks
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.topbar
      .fill
        .container
          = link_to(image_tag("logo.png"), root_path, {:class => "brand"})
          - if user_signed_in?
            %ul.nav
              %li.dropdown{:data => {:dropdown => "dropdown"}}
                = link_to(t("top.navigation.walks.title"), "#", {:class => "dropdown-toggle"})
                %ul.dropdown-menu
                  %li= link_to(t("top.navigation.walks.new"), new_walk_path)
          %ul.nav.secondary-nav
            - if user_signed_in?
              %li.dropdown{:data => {:dropdown => "dropdown"}}
                = link_to(current_user.email, "#", {:class => "dropdown-toggle"})
                %ul.dropdown-menu
                  %li= link_to(t("top.navigation.account.edit"), edit_user_registration_path)
                  %li.divider
                  %li= link_to(t("top.navigation.account.sign_out"), destroy_user_session_path)
            - else
              %li= link_to(t("top.navigation.account.sign_in"), new_user_session_path)
    %section.container
      .content
        %p.notice= notice
        %p.alert= alert
        = yield
        %footer
          %p 2011
    = render :partial => 'shared/analytics'
