!!! 5
%html
  %head
    %title Photowalks
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.topbar
      .fill
        .container
          = link_to("Photowalks!", root_path, {:class => "brand"})
    %section.container
      .content
        %p.notice= notice
        %p.alert= alert
        = yield
        %footer
          %p 2011
